doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="import" href="/bower_components/paper-button")
    link(rel="import" href="/elements/elements.html")
    link(rel="import" href="/elements/routing.html")
    link(rel="import" href="/index.html")
  body
    block content
