doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="import" href="/bower_components/paper-button")
    link(rel="import" href="/elements/taxi-button.html")
  body
    block content
